.logo-bioob {
  width: 120px;
  height: 30px;
  object-fit: cover;
}

.slices img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  background-color: rgba(250, 50, 50, 0.3);
  z-index: 2;
  text-align: center;
  line-height: 550px;
}
.overlay img {
  width: 350px;
  height: 250px;
  object-fit: contain;
}

.bioob-objetivo {
  padding: 3.5rem;
}

.bioob-objetivo .text-bioob {
  max-width: 350px;
  margin: 0 auto;
}

@media screen and (min-width: 450px) {
  .overlay img {
    width: 450px;
    height: 350px;
  }
}

@media screen and (min-width: 600px) {
  .bioob-objetivo {
    padding: 4.5rem;
  }
}

@media screen and (min-width: 768px) {
  .overlay img {
    width: 550px;
    height: 450px;
  }
}

@media screen and (min-width: 1024px) {
  .slices img {
    height: 100vh;
  }
  .overlay {
    height: 100vh;
    line-height: 100vh;
  }
  .overlay img {
    width: 600;
    height: 500px;
  }
}
