.logo-bioob {
  width: 120px;
  height: 30px;
  object-fit: cover;
}

.slices img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  background-color: rgba(250, 50, 50, 0.3);
  z-index: 2;
  text-align: center;
  line-height: 550px;
}
.overlay img {
  width: 350px;
  height: 250px;
  object-fit: contain;
}

.bioob-objetivo {
  padding: 3.5rem;
}

.bioob-objetivo .text-bioob {
  max-width: 350px;
  margin: 0 auto;
}

/***********TASHI**********/
footer {
  text-align: left;
  flex-wrap: nowrap;
  font-family:'Roboto';
  padding: 50px 0px 50px 0px;
 }
.notmargin {
  margin: 0px;
  padding: 0px; }
.footer1 {
  background-color: #A77D6E;
  padding: 20px;
}
.margin-footer1 {
    margin-left: 450px;
    margin-right: 130px; }
.frase {
    font-size: 1.5em;
    color:white;
}
.frase2 {
  font-size: 1.5em;
  margin-left: 220px;
  color:white;
}
.colaborar {
   font-size: 2em;
   color:white;
}
.footer2 {
    background-color: #694E4A;
    padding: 20px;
    color: white;
    font-size: 16px;
    line-height: 3px;
}
.margin-footer2 {
  margin-left: 108px;
  margin-right: 130px; }
.footTitulo {
  padding-bottom: 6px;
}
.footer3 {
  background-color: #70423F;
  padding-top: 25px;
  height: 12em;
}
.logoFooter {
  width: 15%;
}
.copy {
  color: white;
  margin-top: 3rem;
  font-size: smaller;
  text-align: center;
}

@media screen and (min-width: 450px) {
  .overlay img {
    width: 450px;
    height: 350px;
  }
}

@media screen and (min-width: 600px) {
  .bioob-objetivo {
    padding: 4.5rem;
  }
}

@media screen and (min-width: 768px) {
  .overlay img {
    width: 550px;
    height: 450px;
  }
}

@media screen and (min-width: 1024px) {
  .slices img {
    height: 100vh;
  }
  .overlay {
    height: 100vh;
    line-height: 100vh;
  }
  .overlay img {
    width: 600;
    height: 500px;
  }
}
